* {
  box-sizing: border-box;
}
body {
  margin: 0;
  cursor: pointer;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  background-color: rgb(151, 89, 89);
  font-size: 24px;
  text-transform: uppercase;
  box-shadow: 0 0 0 1px rgba(71, 67, 67, 0.377);
}

.btn:active {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.slide {
  color: rgb(5, 17, 27);
  font-size: 26px;
  padding: 40px;
  user-select: none;
}

.hide {
  display: none;
}
.show {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
